.container {
  align-items: center;
  display: flex;
  margin-top: 4vh;
}

.annotationContainer {
  align-items: center;
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  padding: 0 0.5vw;
  height: 512px;
}

.labelsContainer {
  display: flex;
  margin-top: 3vh;
  flex-direction: column;
}

.labelRow {
  /* align-items: center; */
  display: flex;
  margin-bottom: 1vh;
}

.labelName {
  margin-top: 0.25rem;
  text-align: right;
  width: 11rem;
}

.labelButtons {
  display: flex;
  margin-left: 0.5vw;
}

.labelButtons > button {
  border-radius: 0.25rem;
  border-width: 1px;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem 0.75rem;
}

.labelButtons > button:hover {
  cursor: pointer;
}

.unselectedButton {
  background-color: white;
}

.selectedButton {
  background-color: #90ee90; /* light green */
  color: #000;  
}

.arrowsContainer {
  display: flex;
  margin-top: 1vh;
}

.arrowsContainer button {
  /* border: none; */
  border-radius: 0.5vh;
  border-width: 1px;
  padding: 2vh 2vw;
  margin: 0 1vw;
}

.arrowsContainer button:hover {
  cursor: pointer;
}

.arrowsContainer .whiteButton:hover {
  background-color: #eee;
  
}

.arrowsContainer button:disabled {
  background-color: white;
  cursor: not-allowed;
}

.whiteButton {
  background-color: white;
}

.submitButton {
  background-color: #66BB6A;
  color: white;
}

.submitButton:hover {
  background-color: #57A05A;
}

.error {
  color: red;
  margin-top: 2vh;
}

.counter {
  margin-top: 2vh; 
}









/* .labelNames {
  align-items: end;
  display: flex;
  flex-direction: column;
  width: 9rem;
}

.labelOptions {
  margin-left: 0.25rem;
} */

